 <%= link_to  "新增",  new_user_path %><br><br>

<a href="?locale=de">des</a><br><br>

<a href="?locale=en">ens</a>
<br><br>


<% @images.each do |i| %>
<a href="<%= i.image_url %>" download><%= image_tag i.image_url.to_s,size: "200x200" %></a>
<a href="<%= i.product_image_url%>" download><%= image_tag i.product_image_url.to_s,size: "200x200" %></a>
<a href="<%= i.pdf.to_s %>" download>查看PDF</a><br>
<% end %>


<%= t(:hello) %>